.title {
  text-align: center;
  font-size: 3rem;
  margin-top: 5rem;
}

.container {
  width: 95%;
  max-width: 100rem;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 4rem;
    margin-top: 5rem;
  }
}

.containerAlert {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  padding: 30px;
  width: 100%;
  max-width: 400px;
  margin: 40px auto;
  color: #000;
  text-align: center;
}
