:root {
  --white: #fff;
  --primary: #61ecbc;
  --black: #182339;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url("/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
  font-size: 2rem;
}

.container {
  max-width: 60rem;
  width: 95%;
  margin: 0 auto;
}

.app-title {
  font-size: 3.8rem;
  margin-top: 5rem;
  color: var(--white);
  line-height: 0.8;
}

.app-title span {
  display: block;
  color: var(--primary);
  font-size: 4.4rem;
}

.content {
  margin-top: 5rem;
  padding: 6rem 2rem;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.form,
.field {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form label {
  color: var(--black);
}

.form select {
  background-color: #ecebeb;
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.8rem;
}

.form [type="submit"] {
  background-color: var(--primary);
  color: var(--black);
  border: none;
  padding: 1rem;
  font-weight: 900;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 2rem;
  transition: background-color 0.5s ease-in-out;
}

.form [type="submit"]:hover {
  background-color: #0cb378;
}

.form [type="submit"]:disabled {
  opacity: 20%;
}

.error {
  background-color: #ffe0e0;
  color: #cc0000;
  border: 1px solid #cc0000;
  border-left: 5px solid #cc0000;
  padding: 15px;
  margin: 10px 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 4px;
  text-align: center;
}

.result-wrapper {
  margin-top: 5rem;
}

.result-wrapper h2 {
  text-align: center;
}

.result {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  gap: 1rem;
}

.result img {
  width: 100%;
}

.result p {
  margin: 0 0 1rem;
  font-size: 1.6rem;
}

.result span {
  font-weight: 700;
}
